@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>COMMITTEES</p>
<ul>
    <li>TAHTS COMMITTEE</li>
    <li>HEALTH FAIR COMMITTEE</li>
    <li>KID SUMMIT COMMITTEE</li>
</ul>
<address>
    <strong>Customer Service:</strong> <a href="mailto:customerservice@tahts.org">customerservice@tahts.org</a><br />
</address>
